<p>products-component works!</p>

<div class="tableProducts">
<p-table [value]="list" class="producto" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>SKU</th>
            <th>code</th>
            <th>description</th>
            <th>name</th>
            <th>pictures</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
        <tr>
            <td>{{products.SKU}} {{products.sku}}</td>
            <td>{{products.code}}</td>
            <td>{{products.description}}</td>
            <td>{{products.name}} </td>
            <td>
                
                 <i class="far fa-eye" *ngIf="products.pictures" (click)="consola()"></i> 
                </td>
        </tr>
    </ng-template>
</p-table>
</div>