/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }


body{

   /* height: 100%; */
   
   background:  #342c6c ;
    
   
    /*
    background: linear-gradient(to top, #443484, #342c6c);
    background: linear-gradient(3deg, rgba(121,9,118,1) 0%, rgba(120,51,118,1) 57%, rgba(115,0,255,0.7315301120448179) 100%);
    */
    background-repeat:no-repeat;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
